<aside>
    <div class="container text-center">
        <div class="call-to-action">
            <h3>Besuchen Sie meinen Blog!</h3>
            <a href="http://blog.max-bremer.info" target="_blank" class="btn btn-default btn-xl wow tada">Zum Blog</a>
        </div>
    </div>
</aside>